body{
    background-color: lavenderblush;
    font-family: 'Courier New', Courier, monospace;
}

.main_div{
    /*padding-top: 50px;*/
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 20px;
}

.first_div{
    width: 3%;
    height: 100%;
    /*background-color: orange;*/
}

.second_div{
    /*border: 1px solid;*/
    width: 30%;
    height: 90%;
    /*background-color: green;*/
}

.space_div{
    width: 2%;
    height: 100%;
    /*background-color: white;*/
}

.third_div{
    width: 40%;
    height: 100%;
    /*border: 1px solid;*/
    /*background-color: yellow;*/

}

.join_div{
    /*width: 30%;*/
    height: 100%;
    padding-top: 50px;
    /*border: 1px solid;*/
    /*background-color: black;*/

}

.sec_title_div{
    width: 100%;
    height: 10%;
    /*border-bottom: 1px solid;*/
    /*background-color: #ffc0cf;*/
}

.sec_photo_div{
    width: 100%;
    height: 83%;
    background-size: cover;
    background-position: center;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    background-repeat: no-repeat;
    background-color: black;
    border: 2px solid;
}


.third_details_div{
    width: 100%;
    height: 82%;
    padding-top: 70px;
    padding-left: 10px;
    /*background-color: orange;*/
}

.third_btn_div{
    display: flex;
    width: 60%;
    height: 10%;
    /*align-content: center;*/
    justify-content:   center;
    /*border-top: 1px solid;*/
    /*background-color: blue;*/
}

.third_tbl_div{
    width: 100%;
    height: 50%;
    /*border-top: 1px solid;*/
    /*background-color: green;*/
}

.btn_div1{
    width: 50%;
    height: 100%;
    display: flex;
}

.btn_div2{
    width: 50%;
    height: 100%;
}

h1{
    /*padding: 15px;*/
    border: none;
    margin: 0;
    text-transform: uppercase;
}

.sec_desc_txt{
    padding: 10px;
    /*text-transform: uppercase;*/
}

.btn_join, .btn_home{
    border-width: 1px;
    border-color: transparent;
    /*display:inline-block;*/
    padding:1em 2em;
    /*width: 100%;*/
    margin: 2px;
    border-radius:2em;
    font-weight:500;
    color:#000000;
    font-size: large;
    background-color:pink;
    text-align:center;
    transition: all .3s ease-out;
}

.btn_home{
    width: 350px;
}

.btn_join{
    width: 98%;
}

.btn_join:hover, .btn_home:hover{
    border-color: black;
    background-color:transparent;
    cursor: pointer;
}

.text_ins{
    /*background-color: green;*/
    position: relative;
    cursor: text;
    font-size: 12px;
    padding:8px;
    width: 200px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 3px;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.disp{
    display: flex;
    width: 100%;
    max-height: 120px;
    padding-bottom: 15px;
}

.disp_left{
    width: 10%;
    height: 20%;
    /*background-color: green;*/
}
.disp_right{
    width: 80%;
    height: 20%;
    display: flex;
    /*background-color: orange;*/
}

.disp_desc{
    max-height: 350px;
    overflow: auto;
}

.fa-clock, .fa-calendar-days, .fa-location-dot, .fa-circle-info, .fa-users, .fa-user{
    font-size: x-large;
}

p{
    padding: 0;
    margin: 0;
    font-size: x-large;
}

.cash_data{
    font-size: xxx-large;
}

/*TAB CONTENTS*/
.tab-content{
    width: 100%;
    background-color: lavenderblush;
    /*height: 600px;*/
    padding-left: 200px;
}

.nav-tabs, .nav-link.active{
    background-color: lavenderblush;
    padding-left: 200px;
}

.join_ins{
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 1rem;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.join_ins{
    margin: 15px;
    height: 50px;
    width: 300px;
}

.join_btns1{
    height: 45%;
    width: 100%;
    /*background-color: orange;*/
}

.join_btns2{
    /*height: 50%;*/
    /*justify-content: center;*/
    /*max-height: 300px;*/
    width: 90%;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    padding: 20px;
    /*background-color: green;*/
}

table, th, td{
    /*border: 1px solid;*/
    padding: 5px;
    border-collapse: collapse;
}

/*thead th {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*    background-color: lavenderblush;*/
/*}*/


.th_num{
    width: 30px;
    max-width: 30px;
    text-align: left;
}

.th_name{
    width: 80px;
    max-width: 80px;
    text-align: left;
    display: -webkit-box;
    height: 12px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:  1; /* Number of lines to display */
    text-overflow: ellipsis;
}

.th_email{
    width: 30px;
    max-width: 30px;
    text-align: left;
    white-space: nowrap;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*-webkit-line-clamp: 1; !* Number of lines to display *!*/
    /*text-overflow: ellipsis;*/
}

::-webkit-scrollbar{
    background-color: lavenderblush;
}

input::placeholder,
input[type="email"], input[type="text"]{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

.tbl_top{
    height: 30px;
    width: 100%;
    /*background-color: orange;*/
}

.tbl_bot{
    width: 100%;
    max-height: 290px;
    /*background-color: green;*/
    overflow-y: auto;
    overflow-x: hidden;
}