body{
    background-color: lavenderblush;
    /*font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
}

.main{
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 30px;
}

.space_left{
    width: 5%;
    height: 100%;
}

.left{
    width: 50%;
    height: 100%;
    /*border: 1px solid;*/
}

.center{
    width: 40%;
    height: 100%;
    /*border: 1px solid;*/
    /*display: flex;*/
    justify-content: center;
    /*align-content: center;*/
    /*background-color: #fcdfe3;*/
    /*box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 50%);*/
}

.right{
    width: 5%;
    height: 100%;
}

.left_disp{
    height: 100%;
    width: 100%;
    background-image: url("../images/events_bg1.jpeg");
    background-color: rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    background-position: center;
}

.first_div{
    width: 50%;
}

.second_div{
    width: 50%;

}

.btns_area{
    width: 100%;
    margin-top: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-left:20px;
    /*border: 1px solid;*/
}

.inputs{
    width: 100%;
    height: 40px;
    padding: 20px;
}

/*.inputs{*/
/*    padding:15px 20px 20px 20px;*/
/*}*/
/*.ev_title{*/
/*    padding: 2px 2px 2px 20px;*/
/*    !*padding-bottom: 5px;*!*/
/*}*/

.ins{
    position: relative;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    border-radius: 1rem;
    color: rgb(35, 38, 59);
    box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.ins{
    height: 48px;
    width: 500px;
}

.desc{
    width: 500px;
    height: 120px;
}
textarea::placeholder,
input::placeholder,
input[type="date"], input[type="number"],input[type="time"] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

.ins:focus {
    border-color: #3c4fe0;
    box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

.btn_join{
    /*border-width: 1px;*/
    border: none;
    /*display:inline-block;*/
    padding:0.8em 1.5em;
    width: 230px;
    margin: 5px;
    border-radius:2em;
    font-weight:500;
    color:#000000;
    font-size: medium;
    background-color:pink;
    text-align:center;
    transition: all .3s ease-out;
}

.btn_join:hover {
    border: 1px solid black;
    background-color:transparent;
    cursor: pointer;
}



