<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tab.css">
<!--    <script src="/js/main.js" defer></script>-->
</head>
<body>
    <h2>EVENT LIST</h2>
    <div class="btn_create">
        <form th:action="@{/create}" method="get">
            <button type="submit">CREATE</button>
        </form>
    </div>
    <div id="tab_upcoming">
        <div class="table_container">
            <p th:if="${eventsDisp.size()} < 1">NO EVENT AVAILABLE</p>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th class="tr_others">Location</th>
                        <th class="tr_others">Schedule</th>
                        <th class="tr_others">Start Time</th>
                        <th class="tr_others">Duration(Hours)</th>
                        <th class="tr_others">Attendance</th>
                        <th class="tr_desc">Description</th>
                        <th class="tr_others">LINK</th>
                        <th class="tr_others" th:cols="2"></th>
                    </tr>
                </thead>
                <tbody th:each="ev: ${eventsDisp}">
                    <tr>
                        <td th:text="${ev.name}"></td>
                        <td th:text="${ev.location}"></td>
                        <td th:text="${ev.date}"></td>
                        <td th:text="${ev.start_time}"></td>
                        <td th:text="${ev.duration}"></td>
                        <td th:text="${ev.attendance}"></td>
                        <td th:text="${ev.description}"></td>
                        <td th:object="${eventsJoin}"><a th:href="@{/join(id=${ev.getId()})}">JOIN NOW</a></td>
                        <td th:cols="2">
                            <form>
                                <button type="submit">UPDATE</button>
                                <button type="submit">DELETE</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>