<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" href="/css/newevent.css">
</head>
<body>
    <h1>new event</h1>
    <form th:method="post" th:object="${events}" th:action="${update_status} ? '/update' : '/save'">
        <div>
            <input type="hidden" th:name="${'ev_id'}" th:value="${update_id}"/>
        </div>
        <div>
            <label for="eventNameTxt"> Event Name </label>
            <input th:field="*{name}" id="eventNameTxt" type="text" required>
        </div>

        <div>
            <label for="locationTxt">Location </label>
            <input th:field="*{location}" id="locationTxt" type="text" required>
        </div>

        <div>
            <label for="dateText">Schedule </label>
            <input th:field="*{date}" id="dateText" type="date" required>
        </div>

        <div>
            <label for="timeStartTxt">Time Start </label>
            <input th:field="*{start_time}" id="timeStartTxt" type="time" required>
        </div>

        <div>
            <label for="durationTxt">Event Duration </label>
            <input th:field="*{duration}" id="durationTxt" type="number" required>
        </div>

        <div>
            <label for="imgTxt">Image Link</label>
            <input th:field="*{imageSrc}" id="imgTxt" type="text" required>
        </div>

        <div>
            <label for="descriptionTxt">Event Description </label>
            <textarea th:field="*{description}" id="descriptionTxt" rows="5" cols="100" placeholder="Type your message here..."></textarea>
        </div>

        <div th:if="${!update_status}">
            <button type="submit">CREATE EVENT</button>
        </div>
        <div th:if="${update_status}">
            <button type="submit">UPDATE EVENT</button>
        </div>
    </form>

    <form th:method="get" th:action="@{/home}">
        <button type="submit">BACK TO HOME</button>
    </form>
</body>
</html>